

.composition{
    position: relative;

    &__photo{
        // obrazy zawsze definiowac w procentach
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        // da nam to przestrzen miedzy ramka a zdjeciem
        outline-offset: 2rem;

        @include respond(tab-port){
            float: left;
            // pozbywamy sie pozycjonowania absolutnego
            position: relative;
            width: 33.333333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &--p1{
            left: 0;
            top: -2rem;

            @include respond(tab-port){
                top: 0;
                transform: scale(1.2);
            }
        }

        &--p2{
            right: 0;
            top: 2rem;
            
            @include respond(tab-port){
                top: -1rem;
                transform: scale(1.3);
                z-index: 100;
            }
        }

        &--p3{
            left: 20%;
            top: 10rem;

            @include respond(tab-port){
                top: 1rem;
                left: 0;
                transform: scale(1.1);
            }
        }

        &:hover{
            // outline podobny jest do border
            // wstawienie tu border dałoby ten sam efekt
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            // blizej uztykownika -> wiekszy i ciemniejszy cień
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }

    // composition:hover composition__photo:not(:hover)
    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }
}


